<!-- Download Section -->
<section id="download" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Projects</h2>
        <p>Here is a list of my lastest projects</p>

        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="#projectOne" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name">Alien Attack</span></a>
          </li>
          <li>
            <a href="#projectTwo" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name">MoviePedia</span></a>
          </li>
          <li>
            <a href="#projectThree" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name">Paws and Play</span></a>
          </li>
          <li>
            <a href="#projectFour" class="btn btn-default btn-lg"><i class="fa-fw"></i> <span class="network-name">Pocket Fit</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
