    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Project</h2>
                    <p>You can check my projects</p>
                    <a href="https://alienattack.herokuapp.com/" class="btn btn-default btn-lg">Alien Attack</a>
                    <a href="https://movie-pedia.herokuapp.com/" class="btn btn-default btn-lg">MoviePedia</a>
                    <a href="https://paws-and-play.herokuapp.com/" class="btn btn-default btn-lg">Paws and Play</a>
                      <a href="https://pocket-fit.herokuapp.com/" class="btn btn-default btn-lg">Paws and Play</a>
                </div>
            </div>
        </div>
    </section>
