<!-- Download Section -->
<section class="content-section text-center">
  <div id="projectTwo" class="project-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>MoviePedia</h2>
        <p class="intro-text">I had to build a full-stack app using <span class="highlight"> Node.js and Express</span>. I created a movie search app called MoviePedia.<br><br>
        For this project, I had to create an app including at least two models with <span class="skill">user authentication</span>. I used an external API for movies called OMDB. Following the first project process, I used <span class="skill">Balsamiq</span> software to create the wireframes. I then developed the user interface and navigation. In this project, I used the <span class="skill">Bootstrap</span> framework.
        </p>

        <a href="https://movie-pedia.herokuapp.com/" class="btn btn-default btn-lg" target="_blank"><i class="fa-fw"></i> <span class="network-name">MoviePedia</span></a>
      </div>
    </div>
  </div>
</section>
