<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include download.html %}
    {% include alien.html %}
    {% include project-one.html %}
    {% include movie.html %}
    {% include project-two.html %}
    {% include paws.html %}
    {% include project-three.html %}
    {% include pocket.html %}
    {% include project-four.html %}
    {% include parallex.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
